<!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="/shop" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="<%= path === '/' ? 'active' : '' %>">
                        <a href="/">Home</a>
                    </li>
                     <li class="<%= path === '/shop' || path.startsWith('/product') ? 'active' : '' %>">
                        <a href="/shop">Shop</a>
                    </li>
                     <li class="<%= path === '/wishlist' ? 'active' : '' %>">
                        <a href="/wishlist">Wishlist</a>
                    </li>
                     <li class="<%= path === '/orders' ? 'active' : '' %>">
                        <a href="/orders">Orders</a>
                    </li>
                     <li class="<%= path === '/cart' ? 'active' : '' %>">
                        <a href="/cart">Cart</a>
                    </li>
                    
                    
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->